body{
  background-color: #282c34;
}

.App {
  text-align: center;
  margin-top: 300px;
}

.btn{
  background-color : #ff98ee;
  height: 60px;
  width: 100px;
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'; 
  font-size: 19px;
  text-align: center;
  margin-left: 5px;
}